@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply bg-azul text-white font-semibold px-4 py-3 rounded-md hover:brightness-110 transition-all
}

.li {
  position: relative;
}

.li::after {
  width: 0;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -0px;
  display: block;
  content: " ";
  transition: width .2s ease-out;
}

.li:hover::after {
  width: 100%;
}

.itemcarrossa {
  gap: 12px;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: slideDown 0.3s forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}